* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:
    linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)),
    url(https://cdn.pixabay.com/photo/2024/10/24/11/39/data-security-9145391_1280.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  font-family: "Archivo", sans-serif;
}

.container {
  max-width: 1250px;
  width: 90%;
  margin: auto;
}

.password-container {
  margin: 15rem auto;
  background-color: #02082b;
  text-align: center;
  width: 40%;
  border-radius: 8px;
  height: 300px;
}

.header-container {
  padding-top: 1rem;
}

.input-container {
  margin-top: 3rem;
  font-size: 40px;
}

.password-input {
  padding: 0.8rem 7rem;
  background-color: rgb(42, 42, 77);
  border-radius: 9px;
}

button {
  margin-top: 3.5rem;
  padding: 0.7rem 1.3rem;
  font-size: 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
